@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Grechen+Fuemen&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Hanunoo&family=Rubik+Vinyl&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
:root{
    --prime:#3BAE58;
    --sec:rgb(231, 226, 226);
    ---txt:#5e97ff;
    --box:#3d4a3e;
}
/* scroll animation */
.block2{
    animation: up linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40% ;
}
@keyframes up {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.block1{
    animation: left-side linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40% ;
}
@keyframes left-side {
    from{
        opacity: 0;
        transform: translateX(-400px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.block{
    animation: moves linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40% ;
}
@keyframes moves {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.logo > h1{
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
}
/* this for the navbar */
nav{
    height: 10vh;
    padding: 2px 20px;
    background-color: var(--sec);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 20px black;
}
.link > a{
    text-decoration: none;
    padding: 5px 15px;
    color: var(--prime);
    position: relative;
    font-weight: bold;
}
.link > a::after{
   content: "";
   position: absolute;
   width: 0;
   height:100%;
   left: 0;
   bottom: 0px;
   background-color: var(--prime);
   z-index: -1;
   border-radius: 10px;
}
.link > a:hover::after{
    width:100%;
    background-color:var(--prime);
    transition: all 0.5s;
}
/* click bar for mobile view */
.clk > label,.clk > input{
    display: none !important;
}
.link > a:hover{
    color: var(--sec);
    transition: all 1s;
}
input:checked~.link{
    left:0px;
    top: 55px;
    transition: all 0.5s;
    opacity:1;
}
.link > label{
    display: none;
}
/* this for home */
.coverall{
    min-height: 100vh;
    background-color: var(--sec);
}
.home{
   display: flex;
   flex-direction: column;
   position: relative;
   min-height: 100vh;  
}
/* this video div */
.vid{
    margin-top: 50px;
   height: 620px;
}
/* this for the video */
.vid video{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
/* this for the text */
.text{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 11%;
    color: var(--sec);
    text-shadow: 0 0 20px black;
    animation: text 2s 1;    
}
@keyframes text{
   from{
      scale: 0;
      opacity: 0;
   }
   t0{
    scale: 1;
    opacity: 1;
   }
}
.text h1{
    font-size: 55px !important;
    position: relative !important;
    text-shadow: 3px 1px red ;
}
/* this for the welcome text hover */
.text h1:after{
    content: "..!";
}
/* this for the about */
.card{
    min-height: 100vh;
    background: var(--sec);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
/* about up */
.a-cover > .up{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:black;
    font-size: 30px;
    display: grid;
    place-content: center;
    position:fixed;
    z-index: 1;
    right:20px;
    bottom:20px;
}
.up > a{
  color:var(--prime);
}
.cover{
   display: flex;
   flex-wrap: wrap; 
   justify-content: center;
   align-items: center;
   gap: 30px;
   min-height: 100vh;
   position: relative;
}
.cover > div{
   width: 40%;
}
.cover > .c-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    height: 400px;
}
.a-box1{
   background-color: #f9f9f9;
   border-radius: 10px;
   z-index: 1;
   border: 2px solid var(--prime);
}
.a-box1 > button{
    background: #5e97ff;
    color: var(--sec);
    padding: 5px 20px;
    border: 2px solid var(--prime);
    box-shadow:0 5px #3d4a3e;
    font-weight: bold;
    border-radius: 20px;
}
.a-box2 >  img{
   height: 500px;
}
.a-box2{
    position: relative;
    transform: translateX(-100px);
    height: 500px;
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 5px 10px black;   
}
/* tyoes of place */
.type{
    gap: 30px;
}
.type > h1{
    color: var(---txt);
}
.type > h3{
    color: var(--prime);
}
.t-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.t-cover > .t-box{
    width: 250px;
    min-height: 300px;
    background-color: white;
    position: relative;
}
.t-box > .sub-box > img{
    width: 100%;
    height: 300px;
} 
.t-box > .sub-box2{
    height:300px;
    position: absolute;
    z-index: 1;
    width: 0%;
    top:0;
    display: none;
    text-align: center;
    padding: 30px;
    background-color:rgb(217, 212, 212,0.5);
}
.t-box:hover >.sub-box2{
    display: block;
    width: 100%;
    transition: all 2s;
    cursor: pointer;
}
.sub-box2 > button{
    padding: 3px 10px;
    border: 1px solid var(--prime);
    text-transform: capitalize;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
    background: var(--box);
    box-shadow: 0 5px black;
}
.sub-box > p::before{
    content: "â­";
}
.sub-box > h4{
  color: red;
  text-decoration: underline;
}
/* services */
.service{
    gap: 30px;
}
.service > h1{
    color: var(---txt);
    margin-top: 20px;
}
.service > h3{
    color: var(--prime);
}
.s-cover{
   display: flex ;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
   padding: 20px;
 }
.s-box{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    width: 46%;
    min-height: 300px;
    background:var(--box);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;
}
.s-box:hover{
    scale: 1.1;
}
.s-box > h3{
    color: var(---txt);
    text-decoration: underline white;
}
.s-box > i{
    width: 60px;
    height: 60px;
    background-color: var(--sec);
    place-content: center;
    display: grid;
    font-size: 30px;
    color: var(--prime);
    border-radius: 50%;
    margin-top: -10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px black;
    animation: i-rot infinite 3s ;
}
@keyframes i-rot{
    from{
        opacity: 0;
        transform: rotatey(180deg);
    }
    to{
        opacity: 1;
        transform: rotatey(-180deg);
    }
}
/* guide */
.guide{
    gap: 20px;
}
.guide > h1{
  color: var(---txt);
}
.guide > h3{
    color: var(--prime);
}
.g-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.pro{
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}
/* for the guid box */
.pro:hover{
    transition:all 0.5 ease-in;
    transform: scale(1.1);
}
.pro img{
  border-radius: 30px;
}
.icon{
    position: absolute;
    bottom:40px;
    width: 100%;
    text-align: center;
    transform: translateY(110px);
    color:white;
}
/* hover effect for profile box */
.pro:hover .icon{
    transition: all 1s;
    transform: translateY(0px);
}
.icon i{
    font-size: 30px;
    margin-left: 10px;
}
.icon i:hover{
    color: grey;

}
.pro:hover i{
    color:var(--prime);
    cursor: pointer;
}
/* location */
.locat{
    padding: 30px
}
.locat > h1{
    padding: 10px 0;
    color: var(---txt);
}
.locat > h3{
    color: var(--prime);
}
.sub-loc > p{
    font-size: 15px !important;
}
.locat > a > button{
    padding:10px 20px;
    background-color: var(--prime);
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 30px;
    box-shadow: 0 5px red;
    margin: 15px 0;

}
.l-cover{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    width: 100%;
}
.l-cover > .l-box{
    width: 300px;
    min-height: 400px;
    background-color:white;
    border: 2px solid green;
}
.l-img > img{
    height: 240px;
}
/* text */
.sub-loc > h3:hover{
  color: var(--prime);
  cursor: pointer;
}
.sub-loc > p > i{
   color: var(--prime);
   margin-right: 5px;
}
.sub-loc > h3{
    text-align: center;
}
.sub-loc > h5 > i{
    color: var(--prime);
}
/* hover */
.l-box:hover{
    scale: 1.1;
    box-shadow: 0 0 10px black;
    transform: all 0.5s;
}
/* review */
.review{
    gap: 20px;
}
.review > h1{
    padding: 20px 0 0 0 ;
    color: var(---txt);
}
.review > h3{
    color: var(--prime);
}
.r-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 30px;
}
.r-cover > .cus-box{
   width: 550px;
   border: 2px solid var(--prime);
   min-height: 300px;   
   background-color:white;
   padding: 20px;
   box-shadow: 0 0 20px black;
}
.r-img{
    display: flex;
    justify-content: center;
}
.r-img > img{
  padding: 2px;
  border: 2px dotted var(--prime);
  width: 100px;
  height: 100px;
}
.rtext{
    text-align: center;
}
.rtext > h4{
    color: var(--prime);
}
.rtext> div > i{
    color: var(--prime);
}
/* contact */
.contact{
    gap: 20px;
    padding: 10px;
}
.contact > h1{
    color: var(---txt);
}
.contact > h3{
    color: var(--prime);
}
.con-cover{
    display: flex;
    justify-content: center;
    align-items: center;
}
.con-cover > .msg1{
    padding: 20px;
    width: 90%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.msg1 > input{
    width: 100%;
    padding: 8px;
    outline: none;
    border: 2px solid green;
    margin: 15px 0;
    border-radius: 20px;

}
input::-moz-focus-inner{
    border-color: red;
}
.msg1{
    background-color: white;
}
.msg1 > button{
    padding: 5px 20px;
    background: var(--prime);
    box-shadow: 0 5px black;
    border-radius: 20px 20px 0px 20px;
    color: var(--sec);
    font-weight: bold;
    text-transform: capitalize;
    margin: 20px 0;
}
.msg1 > textarea{
    border-radius: 20px;
    outline: none;
    border: 2px solid green;
    margin: 15px 0;
}
.msg1 > h1{
    text-align: center;
    color: var(--prime);
}
/* footer */
footer{
    background:rgb(43, 42, 42);
    min-height: 30vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    color: white;
}
footer > .end{
   display: flex;
   justify-content:center;
   align-items: center;
   padding: 10px;
}
.end > .e-box{
   width:30%;
   display: grid;
   place-content: center;
}
.e-box > h3{
    color: var(---txt)
}
.e-icon{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.e-icon > i{
    margin: 10px 0;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}
.e-icon >i:hover{
    color: var(--prime);
    text-shadow: 0 0 10px red;
}
.e-box1 > a{
   text-decoration: none;
   margin: 5px 0;
   color:var(--sec);
}
.e-box1 > a:hover{
    color:var(--prime);
    text-decoration: underline white;
}
.e-box3 > p > i{
    margin-right:5px;
    font-size: 25px;
}
.e-box3 >p:hover{
    text-decoration: underline;
    color: var(--prime);
}
/* this for mobile*/
@media only screen and (max-width:700px) and (min-width:300px){
    .clk label{
      display:block !important;
      font-size:30px;
    }
    .link > a{
        color: white;
        text-decoration: underline var(---txt);
    }
    .link > label{
        display: block;
    }
    .link > label > i{
        color: white;
    }
    /* this for the navbar fold */
    .link{
        align-items: center;
        position: fixed;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        top: 0px;
        left:380px;
        width:100%;
        min-height:60vh;
        opacity: 0;
        background-color:rgb(0, 0, 0,0.7);
    }
    .vid{
        margin-top: 30px;
        width: 100%;
        height: 100vh;
    }
    .vid video{
        margin-top: 20px;
        height: 100vh;
    }
    .text{
        top: 30%;
        left: 0px;
    }
    .text h1{
        font-size: 43px !important;
       }
       /* about */
       .cover{
        flex-direction: column;
        padding: 15px;
        gap: 5px;
       }
       .cover > div{
        width: 100%;
       }
       .a-box2{
         display: none;
       }
       /* types of land*/
       .type{
        padding: 20px;
       }
       .t-cover > .t-box{
        width: 90%;
       }
       /* service */
       .s-box{
        width: 90%;
       }
       /* guide */
       .guide{
        padding: 10px;
       }
       .pro{
        width: 85%;
       }
       /* place */
       .l-cover > .l-box{
        width: 90%;
       }
       .sub-loc > h5 {
          font-size: 14px;
       }
       .sub-loc > h3{
        font-size: 20px;
       }
       .locat{
        padding: 0px;
       }
       .l-cover{
        padding: 10px;
       }
       /* review */
       .r-cover > .cus-box{
        width: 100%;
       }
       .review > h3{
         font-size: 15px;    
       }
       /* contact */
       .contact{
        padding: 0;
       }
       .con-cover{
        padding: 20px 0;
       }
        /* footer */
     footer >  .end{
        flex-direction: column;
        justify-content: flex-start;
        gap: 70px;
        padding: 30px;
    }
    .end > .e-box{
        width: 100%;
       place-content: start;
    }
    }
/* this for the tablet */
@media only screen and (max-width:900px) and (min-width:600px){
   .text{
    top: 35%;
    left: 12px;
   }
   .vid{
     height: 500px;
   }
   .text h1{
    font-size: 45px !important;
   }
   /* about */
   .a-box2 {
    display: none;
   }
   .cover >.c-text{
    width: 90%;
   }
    /* footer */
    footer > .end{
        gap: 30px;
    }
    .end > .e-box{
        width: 40%;
    }
    .e-icon > i{
        font-size:30px ;
    } 
}